@keyframes ka-loading-loop {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.ka-btn[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.ka-btn {
  outline: none;
  line-height: 1.5;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  user-select: none;
  height: 32px;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
  transition: color .2s linear, background-color .2s linear, border .2s linear, box-shadow .2s linear;
  color: #515a6e;
  background-color: $fontColor;
  border-color: $borderColor;

  +.ka-btn {
    margin-left: 10px;
  }

  &.ka-btn-primary {
    color: $fontColor;
    background-color: $primary;
    border-color: $primary;
  }

  &.ka-btn-success {
    color: $fontColor;
    background-color: $success;
    border-color: $success;
  }

  &.ka-btn-info {
    color: $fontColor;
    background-color: $info;
    border-color: $info;
  }

  &.ka-btn-warning {
    color: $fontColor;
    background-color: $warning;
    border-color: $warning;
  }

  &.ka-btn-danger {
    color: $fontColor;
    background-color: $danger;
    border-color: $danger;
  }

  &.ka-btn-loading {
    // background: red;
    // filter: blur(1);
    cursor: not-allowed;
    opacity: 0.5;
  }

  .ka-loading {
    animation: ka-loading-loop 1s linear infinite;
  }
}