.ka-collapse {
    background: #f7f7f7;
    border-radius: 3px;
    border: 1px solid #dcdee2;

    .ka-collapse-item {
        border-top: 1px solid #dcdee2;

        .ka-collapse-header {
            height: 38px;
            line-height: 38px;
            padding-left: 16px;
            color: #666;
            cursor: pointer;
            position: relative;
            border-bottom: 1px solid transparent;
            transition: all .2s ease-in-out;

            >i {
                margin-right: 14px;
                transition: all .2s ease-in-out;
            }
        }

        .ka-collapse-content {
            color: #515a6e;
            padding: 0 16px;
            background-color: #fff;

            >.ka-collapse-content-box {
                padding-top: 16px;
                padding-bottom: 16px;
            }
        }

        &:first-child {
            border-top: 0;
        }

        &.ka-collapse-item-active {
            .ka-collapse-header {
                >i {
                    transform: rotate(90deg);
                }
            }
        }
    }
}