.panel {
  width: 32 * 7px;
  position: absolute;
  background: #ffffff;
  // box-shadow: 2px 2px 2px pink, -2px -2px -2px pink;

  .panel-nav {
    display: flex;
    justify-content: space-around;
    height: 30px;

    span {
      cursor: pointer;
      user-select: none;
    }
  }

  .panel-content {
    .cell {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      font-weight: bold;
      box-sizing: border-box;
      cursor: pointer;

      &.cell-days:hover {
        border: 1px solid #dddddd;
      }

      &.select {
        border: 1px solid #dddddd;
      }
    }
  }

  .panel-footer {
    height: 30px;
    text-align: center;
  }

  .notCurrentMonth {
    color: gray;
  }

  .today {
    background: #dddddd;
    color: #ffffff;
    border-radius: 4px;
  }
}